.app__mainpage{
    display: flex;
    width: 100vw;
}
.app__mainpage-left{
    width: 50vw;
    height: 100vh;
    background: url('../../assets/bg.webp');
    padding: 4vw;

    img{
        width: 45vw;
        height: 100vh;
    }
    h1{
        color: #ffffff;
        font-weight: 700;
    }

}
.app__mainpage-left-card{
    padding: 2vw;
    width: 28vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.216);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: auto;
    margin-top: 20vh;
    .app__card-info{
        #info{
            font-size: 1.5vw;
        }
    }
}
.app__mainpage-right{
    width: 50vw;
    height: 100vh;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vw;

    button{
        padding: 1vw;
        width: 7vw;
        border-radius: 2vh;
        background-color: #00624e;
        border: none;
        
    }

    
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    p{
        color: #ffffff;
    }
    input{
        background-color: #252525;
        border: 2px solid #fff;
        border-radius: 2vh;
        padding: 1vw;
        width: 24vw;
        box-shadow: none;
        color: #ffffff;
    }

}